<html>
  <head>
    <title>Créer un potin</title>
    <link rel='stylesheet' href='/css/style.css'>
  </head>
  <body>
    <h1>Balancez vos potins !</h1>
    <p>Lachez vous, ça reste entre nous</p>
    <form action='/gossips/new/' method='POST'>
      Entre ton nom ici :  <input type='text' name='gossip_author'/><br/><br><br>
      Confie toi : <input type='text' name='gossip_content'/><br/><br><br>
      <input type='submit'/>
    </form>
  </body>
</html>&